.DS_Store
.venv/
__pycache__/
node_modules/
*.pyc
*.bak

# Environment
.env

# Backend
*.egg-info/
uv.lock
backend/.venv/
backend/uploads/
backend/*.db
backend/packages/fgc_core/*.egg-info/
backend/packages/fgc_core/uploads/
backend/packages/fgc_core/*.db

# Data
data/

# Frontend build
frontend/dist/
frontend/node_modules/
